body {
    display: flex;
    justify-content: center;
}

form fieldset {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

fieldset input {
    width: 10vw;
}

h1 {
    text-align: center;
    font-family: 'Arial';
}